.section {
  display: flex;
}

@media (min-width: 40.5625em) {
  .section .section-content .width-1 {
    font-weight: var(--fw-black);
    width: 14ch;
    padding-bottom: 2rem;
  }
  .section .section-content .width-2 {
    font-weight: var(--fw-black);
    width: 97%;
    padding-bottom: 2rem;
  }
  .section p {
    padding-bottom: 2rem;
    width: 103%;
  }

  .section a {
    font-size: 0.825rem;
    text-decoration: none;
    position: relative;
  }

  .section a::after {
    content: "";
    position: absolute;
    width: 7rem;
    left: -3px;
    right: 0;
    margin: 0 auto;
    z-index: -1;
    height: 10px;
    bottom: -2px;
    border-radius: 50px;
    background-color: rgb(250, 250, 162);
    transition: all 200ms ease-in-out;
  }

  .section a:hover::after {
    background-color: var(--clr-yellow);
  }

  .section .section-bg-img-1 {
    width: 50%;
    background-image: url(/images/desktop/image-transform.jpg);
    background-size: cover;
    background-position: center center;
  }
  .section .section-bg-img-2 {
    width: 50%;
    background-image: url(/images/desktop/image-stand-out.jpg);
    background-size: cover;
    background-position: center center;
  }

  .section .section-content {
    width: 50%;
    padding-block: 14%;
    padding-inline: 10%;
  }
}

@media (max-width: 40.5em) {
  .section {
    flex-direction: column;
  }
  .section .section-bg-img-1 {
    width: 50%;
    background-image: url(/images/mobile/image-transform.jpg);
    background-size: cover;
    background-position: center center;
  }
  .section .section-bg-img-2 {
    width: 50%;
    background-image: url(/images/mobile/image-stand-out.jpg);
    background-size: cover;
    background-position: center center;
  }
}
