@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
:root {
  /* 
  PRIMARY COLORS 
  */
  --primary-soft-red: hsl(7, 99%, 70%);
  --primary-yellow: hsl(51, 100%, 49%);
  --primary-dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
  --primary-dark-blue-photography-text: hsl(198, 62%, 26%);
  --primary-dark-moderate-cyan-footer: hsl(168, 34%, 41%);

  /*
  NEUTRAL COLORS 
  */
  --neutral-very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --neutral-very-dark-grayish-blue: hsl(213, 9%, 39%);
  --neutral-dark-grayish-blue: hsl(232, 10%, 55%);
  --neutral-grayish-blue: hsl(210, 4%, 67%);
  --neutral-white: hsl(0, 0%, 100%);

  /* 
  FONT FAMILY
  */
  --ff-barlow: "Barlow", sans-serif;
  --ff-fraunces: "Fraunces", serif;

  /*
  FONT WEIGHTS
  */

  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-black: 900;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.3;
  font-size: 1.125rem;
}
img {
  width: 100%;
}
header {
  background-image: url(../images/mobile/image-header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 100vh;
  position: relative;
}
button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: var(--ff-fraunces);
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  background-color: var(--primary-yellow);
  padding: 1.125rem 1.875rem;
  border: 1px solid var(--primary-yellow);
  border-radius: 30px;
}

button:hover {
  background-color: var(--neutral-white);
  color: var(--neutral-dark-grayish-blue);
}
.a,
.a:visited {
  text-decoration: none;
  font-family: var(--ff-barlow);
  color: var(--neutral-dark-grayish-blue);
  transition: all ease-in-out 300ms;
}

a:hover {
  color: black;
}

li {
  list-style: none;
  padding-top: 2rem;
}

#mobile-cta {
  cursor: pointer;

  transition: 200ms ease-in-out;
}

#btn {
  margin-bottom: 2rem;
}

#logo {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.5625rem 1.125rem;
}

.nav-items {
  display: none;
  position: fixed;
  z-index: 10;
  background-color: var(--neutral-white);
  width: 90%;
  text-align: center;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 111px;
}

.nav-items::before {
  content: "";
  position: absolute;
  border: 1rem solid transparent;
  border-right-color: var(--neutral-white);
  border-bottom-color: var(--neutral-white);
  top: -30px;
  right: 0;
}

.header-text {
  width: 90%;
  font-size: 1.25rem;
  letter-spacing: 0.5rem;
  padding-top: 3.125rem;
  font-family: var(--ff-fraunces);
  color: var(--neutral-white);
  text-transform: uppercase;
  font-weight: var(--fw-black);
  text-align: center;
  margin: 0 auto;
}

.header-text img {
  margin-top: 2.8125rem;
  width: 3rem;
  animation: arrow 1700ms ease-in-out infinite;
}

.rotation {
  transform: rotate(90deg) skew(-10deg, 0deg);
}
@keyframes arrow {
  0% {
    transform: translateY(50%);
  }
  50% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(50%);
  }
}

.show {
  display: block;
}

.flex {
  display: flex;
  flex-direction: column;
}
.section-content-1 {
  text-align: center;
  padding: 2rem;
}
.flex img {
  height: 50%;
}
.section-content-1 h1 {
  font-family: var(--ff-fraunces);
  font-weight: var(--fw-bold);
  font-size: 2rem;
  color: var(--neutral-very-dark-desaturated-blue);
}

.section-content-1 p {
  padding-top: 1rem;
  padding-bottom: 2.1rem;
  font-family: var(--ff-barlow);
  background-color: var(--neutral-white);
  color: var(--neutral-grayish-blue);
}

.section-content-1 a {
  color: var(--neutral-very-dark-desaturated-blue);
  font-family: var(--ff-fraunces);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  position: relative;
  letter-spacing: 1;
}

.section-content-1 a::after {
  content: "";
  position: absolute;
  width: 7rem;
  left: -3px;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  height: 10px;
  bottom: -2px;
  border-radius: 50px;
  background-color: rgb(250, 250, 162);
  transition: all 200ms ease-in-out;
}
.section-content-1 a:hover::after {
  background-color: var(--primary-yellow);
}

.section-content-2 {
  text-align: center;
  padding: 2rem;
}

.section-content-2 h1 {
  font-family: var(--ff-fraunces);
  font-weight: var(--fw-bold);
  font-size: 2rem;
  color: var(--neutral-very-dark-desaturated-blue);
}

.section-content-2 p {
  padding-top: 1rem;
  padding-bottom: 2.1rem;
  font-family: var(--ff-barlow);
  background-color: var(--neutral-white);
  color: var(--neutral-grayish-blue);
}

.section-content-2 a {
  color: var(--neutral-very-dark-desaturated-blue);
  font-family: var(--ff-fraunces);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.9rem;
  position: relative;
  letter-spacing: 1;
}

.section-content-2 a::after {
  content: "";
  position: absolute;
  width: 7rem;
  left: -3px;
  right: 0;
  margin: 0 auto;
  z-index: -1;
  height: 10px;
  bottom: -2px;
  border-radius: 50px;
  background-color: hsla(7, 99%, 70%, 0.25);
  transition: all 200ms ease-in-out;
}
.section-content-2 a:hover::after {
  background-color: var(--primary-soft-red);
}

.grid {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr;
}

.section3-1 {
  padding: 2rem;
  background-size: cover;
  text-align: center;
  height: 100vh;
  background-image: url(../images/mobile/image-graphic-design.jpg);
}

.section3-1 h2 {
  font-family: var(--ff-fraunces);
  color: var(--primary-dark-desaturated-cyan-graphic-design-text);
  margin-bottom: 2rem;
  margin-top: 25rem;
}

.section3-1 p {
  font-family: var(--ff-barlow);
  color: var(--primary-dark-desaturated-cyan-graphic-design-text);
}
.section3-2 {
  padding: 2rem;
  background-size: cover;
  text-align: center;
  height: 100vh;
  background-image: url(../images/mobile/image-photography.jpg);
}

.section3-2 h2 {
  font-family: var(--ff-fraunces);
  color: var(--primary-dark-desaturated-cyan-graphic-design-text);
  margin-bottom: 2rem;
  margin-top: 25rem;
}

.section3-2 p {
  font-family: var(--ff-barlow);
  color: var(--primary-dark-desaturated-cyan-graphic-design-text);
}

.heading {
  text-align: center;
  font-family: var(--ff-fraunces);
  text-transform: uppercase;
  color: var(--neutral-grayish-blue);
  letter-spacing: 5px;
  margin-top: 4rem;
}
.clients {
  display: grid;
  place-items: center;
  text-align: center;
}

.test > img {
  width: 5rem;
  margin-top: 0.5rem;
  margin-bottom: 4rem;
  border-radius: 50%;
}

.test > p {
  font-family: var(--ff-barlow);
  color: var(--neutral-dark-grayish-blue);
  margin-bottom: 2rem;
}

.test > h4 {
  font-family: var(--ff-fraunces);
  color: var(--neutral-very-dark-desaturated-blue);
}
#position {
  color: var(--neutral-grayish-blue);
  font-size: 0.9rem;
}
.test {
  padding: 2rem;
}

footer {
  background-color: #91d4c6;
  width: 100%;
  text-align: center;
  padding: 3rem;
}

footer > img {
  width: 10rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.flex-item {
  display: flex;
  justify-content: space-between;
}

.flex-item a {
  text-decoration: none;
  font-family: var(--ff-barlow);
  color: var(--primary-dark-moderate-cyan-footer);
  transition: all 200ms ease-in-out;
}

.flex-item a:hover {
  color: var(--neutral-white);
}

.flex-item img {
  width: 30px;
}

.footer-a {
  margin-bottom: 5rem;
}

#icon {
  width: 60%;
  margin: 0 auto;
  cursor: pointer;
}

#icon img:hover {
  filter: brightness(0) invert(100%);
}
